@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .circles {
    @apply absolute border border-[#F7AB0A]/20 rounded-full;
  }

  .navLink {
    @apply text-[#fafafa];
  }

  .navButton {
    @apply px-6 py-2 rounded-full uppercase text-xs tracking-widest text-[#fafafa] transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A];
  }

  .heroButton {
    @apply m-2 md:m-0 px-6 py-2 border text-[#F7AB0A] border-[#F7AB0A] rounded-full uppercase text-xs tracking-widest transition-all  hover:text-white hover:bg-[#F7AB04]/80;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-[#fafafa] placeholder-gray-500 transition-all
      focus:border-[#F7AB0A]/40 focus:text-[#fafafa] hover:border-[#F7AB0A]/40;
  }

  .contactIcon {
    @apply text-[#F7AB04] h-4 w-4 animate-pulse;
  }

  .sectionTitle {
    @apply absolute top-24 uppercase tracking-[20px] text-gray-500;
  }

  .disabledLink {
    @apply pointer-events-none;
  }

  .contactButton {
    @apply transition duration-150 bg-transparent border border-[#F7AB0A] hover:text-white hover:bg-[#F7AB04]/80 py-5 px-10 rounded text-[#F7AB0A] font-semibold;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
